* {
    margin: 0;
    padding: 0;
}

.caixa-topo {
    width: 99%;
    height: 15vh;
    background-color: lightpink;
    border: 0.5px solid palevioletred;
    display: flex;
    justify-content: center;
}

img {
    height: 80%;
    width: 5%;
}

#titulo-topo {
    padding-top: 1%;
   font-size: 200px; 
    text-align: center;
    color: #a61473;
}

.caixa-conteudo {
    width: 100%;
    height: 60vh;
    background-color: white;
}

#titulo-conteudo {
    padding-top: 1%;
    font-size: 150px;
    text-align: center;
    color: rgb(234, 13, 190);
    text-align: center;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    padding-top: 2.5%;
    padding-left: 2%;
    padding-right: 1%;
    color: black;
    font-size: 90px;
    font-family: monospace;
}

.caixa-rodape {
    width: 100%;
    height: 23vh;
    background-color: lightpink;
    background-size: contain;
    border: 1px solid palevioletred;
    display: flex;
    justify-content: center;
}

.caixa-link {
    padding-top: 4%;
    font-size: 4vh;
    width: 40%;
    text-align: center;
}

a {
    font-weight: bold;
    color: rgb(8, 0, 3);
    text-decoration: none;
    border: rgb(234, 13, 190) solid 1px;
    border-radius: 70px;
    padding: 70px 70px;
    background-color: white;
}

a:hover {
    color: white;
    background-color: black;
    text-decoration: underline;
    transition: 2s;
}

.caixa-topo:hover {
    background-color: black;
}

@media screen and (max-width: 1700px) {
   p {
     font-size: 80px;
   }

   img {
    visibility: hidden;
}
}

@media screen and (max-width: 1350px) {
    p {
      font-size: 60px;
    }
 }
